<p class="mb-1">
  <span class="text-primary">{{this.author.alias}}</span>
  <span class="text-danger">{{this.created_at}}</span>
  <span class="text-success">: {{this.text}}</span>
  <img src={{this.author.avatar}} width="50" height="50">
</p>