<tr>
  <td>{{product.title}}</td>
  <td>{{this.price}}</td>
  <td>
    <img
      width="50"
      height="50"
      class="img-thumbnail"
      src={{this.thumbnail}}
      alt={{this.title}}
    />
  </td>
</tr>