<div class="row">
    <div class="col-12 d-flex flex-column align-items-center bg-danger py-5">
        <h1 class="mb-4 text-light">USER ERROR SIGNUP</h1>
        <a href="/register" class="btn btn-warning">Go back</a>
    </div>
</div>