<div class="row">
  <div class="col-md-6 mx-auto text-align-center">
    <h1 class="text-primary mb-4">User Login</h1>

    <form class="w-100 mb-5" action="/login" method="POST">
      <div class="form-group mb-2">
        <input
          type="text"
          class="form-control mb-2"
          name="email"
          placeholder="Your email"
        />

        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Your password"
        />
      </div>

      <button type="submit" class="btn btn-success me-auto px-4">
        Send
      </button>
    </form>

    <a class="btn btn-success" href="/register">Go to register</a>
  </div>
</div>