<div class="row">
  <div class="col-12 d-flex justify-content-between align-items-center alert alert-primary">
    <h2>See you later {{ username }}</h2>
  </div>
</div>

<script>
    setTimeout(() => window.location.href = "/login", 2000)
</script>